.idea
**/.DS_Store
**/tempvalues.txt
**/temp.txt
**/geckodriver.log
**/__pycache__
**/venv
.DS_Store
reports/assets/style.css
reports/report.html
reports/screenshots/*
testCases/reports/*
reports/screenshots/*.png
logs/logfile.log
*.log

