# Eclipse
.classpath
.project
.settings/
**/*.class
**/target
**/test-output
**/spark
**/logger
**/testLogs
**/testReports
**/archivedTestReport
**/.metadata

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/


### Ignore Manifest Files ###
**/META-INF/MANIFEST.MF

